html {
  font-family: Lora, serif;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  padding: .5em 1.5em .5em 1.5em;
  border-radius: 10px;
  border: 4px solid #2d5a4d;
}

.nav a:hover {

}

.banner {
  background-image: url(../images/leaves.jpg);
  background-position: center;
  background-size: 100%;
}

.banner-content {
  color: #fff;
  background-image: url(../images/two-leaves.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 10%;
  padding-top: 10em;

}

.masthead {
  background-image: url("../images/leaf-bg.svg");
  background-repeat: repeat;
  background-color: #588477;
  background-size: 60px auto;
  border-bottom: 2.5px solid #2d5a4d;
  border-bottom: 2.5px solid #2d5a4d;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
