html {
  font-family: Lora, serif;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  padding: .5em 1.5em;
  border-radius: 10px;
  border: 3px solid #2d5a4d;
}

.nav a:hover {
  color: rgba(16, 52, 41, .8);
  background-image: url("../images/leaf-icon.svg");
  background-color: #fff;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

.banner {
  background:
    linear-gradient(
      rgba(16, 52, 41, 0) 50%,
      rgba(16, 52, 41, .8)
    ),
    url("../images/banner.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #145b1d;
}

.banner-content {
  color: #fff;
  background-image: url("../images/two-leaves.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  padding-top: 18.5em;
  background-position: 1em 192px;
}

.masthead {
  background-image: url("../images/leaf-bg.svg");
  background-repeat: repeat;
  background-color: #588477;
  background-size: 60px auto;
  border-bottom: 2.5px solid #2d5a4d;
}

@media only screen and (min-width: 38em) {

  .banner-content {
    background-size: 17%;
    padding-top: 17em;
  }
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .banner-content {
    background-size: 10%;
    padding-top: 15.5em;
  }

}

@media only screen and (min-width: 90em) {

  .banner-content {
    background-size: 10%;
    background-position: .5em 80px;
    padding-top: 15em;
  }
}
